/*************************************************** 
    HEADER SECTION
****************************************************/
html {
    overflow-x: hidden,
}


header .mobile-logo img {
    max-width: 75px;
}

header .desktop-logo img {
    max-width: 150px;
}

.dropdown .btn {
    color: var(--bs-warning);
}


/*************************************************** 
    MAIN SECTION
****************************************************/
main .row aside {
    background-image: url(../img/sidebar-bg.png);
    height: calc(100vh - 46px);
    min-width: 100px;
    max-width: 200px;
}

.icon-width {
    width: 50px;
}

main .row aside button:hover {
    transform: scale(1.1);
}

.main-header {
    background-color: #1B72E8;
}

/*************************************************** 
    FOOTER SECTION
****************************************************/













/*************************************************** 
    RESPONSIVE LAYOUT
****************************************************/

/********************* 
    SMALL (sm) (>576px)
**********************/
@media screen and (min-width: 576px) {

}



/********************* 
    MEDIUM (md) (>768px)
**********************/
@media screen and (min-width: 768px) {
    
}



/********************* 
    LARGE (lg) (>992px)
**********************/
@media screen and (min-width: 992px) {
    header .mobile-logo {
        display: none;
    }


}




/********************* 
    EXTRA LARGE (xl) (>1200px)
**********************/
@media screen and (min-width: 1200px) {
    
}




/********************* 
    EXTRA EXTRA LARGE (xxl) (>1400px)
**********************/
@media screen and (min-width: 1400px) {
    
}


