/*************************************************** 
    HEADER SECTION
****************************************************/
body {
    overflow: hidden;
}

header {
    height: 10vh;
    width: 100vw;
}

header .mobile-logo img {
    max-width: 75px;
}

header .desktop-logo img {
    max-width: 150px;
}

.dropdown .btn {
    color: var(--bs-warning);
}


/*************************************************** 
    MAIN SECTION
****************************************************/
main .row aside {
    background-image: url(../img/sidebar-bg.png);
    height: 90vh;
    width: 100px;
}

.icon-width-50 {
    width: 50px;
}

.icon-width-25 {
    width: 25px;
}

main .row aside button:hover {
    transform: scale(1.1);
}

.main-header {
    background-color: #1B72E8;
}

.table-fx-height {
    max-height: 400px;
}

.main-section {
    width: calc(100vw - 200px);
    height: calc(100vh - 100px)
}







/*************************************************** 
    FOOTER SECTION
****************************************************/













/*************************************************** 
    RESPONSIVE LAYOUT
****************************************************/

/********************* 
    SMALL (sm) (>576px)
**********************/
@media screen and (min-width: 576px) {

}



/********************* 
    MEDIUM (md) (>768px)
**********************/
@media screen and (min-width: 768px) {
    
}



/********************* 
    LARGE (lg) (>992px)
**********************/
@media screen and (min-width: 992px) {
    header .mobile-logo {
        display: none;
    }

    main .row aside {
        width: 200px;
    }


}




/********************* 
    EXTRA LARGE (xl) (>1200px)
**********************/
@media screen and (min-width: 1200px) {
    
}




/********************* 
    EXTRA EXTRA LARGE (xxl) (>1400px)
**********************/
@media screen and (min-width: 1400px) {
    
}


