/*************************************************** 
    UTILITIES
****************************************************/
.general-button {
    width: 6vh;
    height: 6vh;
    border-radius: 6px;
    border: 2px solid white;
}

.little-button {
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    border: none;
}

.border-radius {
    border-radius: 50%;
}
/********************* 
    BACKGROUND COLORS
**********************/
.search-bg {
    background-color: #E5E5E5;
}

.aside-bg {
    background-color: #051E34;
}
/********************* 
    TEXT
**********************/
.fs-12 {
    font-size: 12px;
}

.fs-16 {
    font-size: 16px;
}
/********************* 
    CONTAINERS
**********************/